/*main text elements*/

body {
    background-color: #AE9779;
    /*background-image: url("http://content.ngv.vic.gov.au/col-images/api/EPUB001683/1280");*/
    background-repeat: repeat-x;
    background-position: fixed;
    color: white;
    text-align: center;

}

h1, h2, h3 {
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  display: block;
  padding 0;
  margin-bottom: 0;
}

p {
  text-align: left;
  padding: 1em;
}

.blurb {
  background-color: pink;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  margin-top: 0;
}

/*a {

  padding-left 1em;
  padding-right: 1em;
  padding-top: 0em;

}*/

/*navigation styling*/

nav {
  padding-bottom: 1em;
}


li {
  display: inline;
}

.fixed {
  position:fixed;
  top: 0;

  max-width: 960px;
  background-color: pink;:
  margin: 0;
  padding:0:
}


/*images*/

  .shear{
    position:fixed;
    opacity: 0.8;
  }



img {
  /*Jack's favourites - width auto, max-width 100% and max height the way you want it*/
  /*width: auto; /*stops distortion */*/
  /*max-width: 100%;*/
  /*max-width: 200px;  */



  max-height: 300px;
  display: block;
  margin: 0 auto;
}

#dreams {
  /*Jack's favourites - width auto, max-width 100% and max height the way you want it*/
  /*width: auto; /*stops distortion */*/
  /*max-width: 100%;*/
  /*max-width: 200px;  */

  	max-width: 100%;
  	height: auto;
    padding-top: 5em;
    padding-bottom: 2em;
    opacity: 1;
    background-color: pink;

  /*max-height: 300px;
  display: block;
  margin: 0 auto;*/
}



.biophoto {
  /*position: relative;*/
  /*margin-left: auto;
  margin-right: auto;*/
  /*top: -10px;*/

  float: left;
  padding: 1em;

}



@media (max-width: 300px) {
  h1 {
    display:none;
  }
}

  .container {

    max-width: 960px;
    min-height: 100px;
    background-color: #AE9779;
    opacity:0.9;
    margin: 0 auto;
    color: #280E09;
    padding: 0px;
  }


/*THIS IS OUR GRID SYSTEM*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

}

.col{
  float:left;
  min-height: 100px;
  /*border: 10px solid #280E09;*/
  background: #AE9779;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  transition:1s;

}

.col-2, {
  width: 16.6666666%;
  width: webkit-calc(100% / 6);
  width: moz-calc(100% / 6);
  width: ms-calc(100% / 6);
  width: o-calc(100% / 6);
  }

.col-3 {
  width: 25%;
}

/*calc - new way of doing this but need a fallback in case an old browser */
.col-4 {
  width: 33.3333333%;
  width: -webkit-calc(100%/3);
  width: -moz-calc(100%/3);
  width: -ms-calc(100%/3);
  width: -o-calc(100%/3);
  width: calc(100%/3);
  }

  .col-5{
    width: 20%;
  }

  .col-6{
    width: 50%;
  }


.col-12 {
  width: 100%;
  /*height: 50%;*/
  }



  @media (max-width: 760px)and(min-width:761px){
    .col{
    background: hotpink;
    }
    .sm-col-4 {
      width: 33.3333333%;
      width: -webkit-calc(100%/3);
      width: -moz-calc(100%/3);
      width: -ms-calc(100%/3);
      width: -o-calc(100%/3);
      width: calc(100%/3);
      }

      .sm-col-6{
        width: 50%;
      }
      .sm-col-12 {
      width: 100%;
      }
  }
  @media (max-width: 960px)and(min-width:961px){
    .col{
    background: chartreuse;
    }
    .md-col-6{
      width: 50%;
    }

  }
  @media (max-width: 960px){
    .col{
      background: lemonchiffon
    }
  }
